<% include header.html %>
<!--  prettify css  -->
<link rel="stylesheet" type="text/css" href="/components/static/css/lib/prettify/prettify-cmd.css">

<div class="container">
    <ol class="breadcrumb mgn-bt-0">
            <li><a href="/components/">主页</a></li>
            <li><a href="/components/component/<%= cate %>/<%= name %>.html"><%= name %></a></li>
            <li class="active"><%= name %>源代码</li>
        </ol>
    <pre>
    <%= code %>
    </pre>
</div>
<script  type="text/javascript" src="/components/static/js/lib/jquery-1.11.1.min.js"></script>
<!--  prettify  -->
<script  type="text/javascript" src="/components/static/js/lib/prettify/prettify.js"></script>

<script>
    $(function(){
        $("pre").each(function(index, element){
            $(element).addClass('prettyprint linenums');
        });
        prettyPrint(null, document);
    });
</script>

<% include footer.html %>