<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Banner Demo</title>
    <link rel="stylesheet" type="text/css" href="./css/banner.css">
</head>
<body style="padding:20px;">
<h1 style="font-size:36px;">Banner Demo</h1>
<hr/>
    <div class="mod_sec1">
        <div class="sec_hd">
            <h2>单张水平滚动</h2>
        </div>
        <div class="mod_banner1"  id="img_view">
            <div class="banner_bd">
                <div class="arrow_wrap arrow_wrap_l">
                    <div class="arrow_bg"></div>
                    <i class="banner_opt banner_pre"></i>
                </div>
                <ul class="banner_img clearfix" id="img_wrap">
                    <li><a href="#"><img src="./images/banner1.jpg" width="1000"height="434"></a>
                        <ul class="banner_position_ul" index="3">
                            <li>
                                <div class="banner_tit ff1">4开课啦！土巴兔公益装修学堂走进腾讯</div>
                                <div class="banner_des">开课啦！土巴兔公益装修学堂走进腾讯</div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><img src="./images/banner2.jpg" width="1000" height="434"></a>
                        <ul class="banner_position_ul" style="display:block;" index="0">
                            <li>
                            <div class="banner_tit ff1">1开课啦！土巴兔公益装修学堂走进腾讯</div>
                            <div class="banner_des">开课啦！土巴兔公益装修学堂走进腾讯</div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><img src="./images/banner3.jpg" alt="" width="1000" height="434"></a>
                        <ul class="banner_position_ul" index="1">
                            <li>
                            <div class="banner_tit ff1">2开课啦！土巴兔公益装修学堂走进腾讯</div>
                            <div class="banner_des">开课啦！土巴兔公益装修学堂走进腾讯</div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><img src="./images/banner4.jpg" alt="" width="1000" height="434"></a>
                        <ul class="banner_position_ul" index="2">
                            <li>
                            <div class="banner_tit ff1">3开课啦！土巴兔公益装修学堂走进腾讯</div>
                            <div class="banner_des">开课啦！土巴兔公益装修学堂走进腾讯</div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="arrow_wrap arrow_wrap_r">
                    <div class="arrow_bg"></div>
                    <i class="banner_opt banner_next"></i>
                </div>
            </div>
            <ul class="banner_slider" id="img_nav">
                <li class="on"><a href="javascript:;"></a></li>
                <li><a href="javascript:;"></a></li>
                <li><a href="javascript:;"></a></li>
                <li><a href="javascript:;"></a></li>
            </ul>
        </div>
    </div>

     <div class="mod_sec1">
        <div class="sec_hd">
            <h2>单张垂直滚动</h2>
        </div>
        <div class="mod_banner2"  id="img_view_vert">
            <div class="banner_bd">
                <div class="arrow_wrap arrow_wrap_l">
                    <div class="arrow_bg"></div>
                    <i class="banner_opt banner_pre"></i>
                </div>
                <ul class="banner_img clearfix" id="img_wrap_vert">
                    <li><a href="#"><img src="./images/banner1.jpg" width="1000"height="434"></a>
                        <ul class="banner_position_ul" index="3">
                            <li>
                                <div class="banner_tit ff1">4开课啦！土巴兔公益装修学堂走进腾讯</div>
                                <div class="banner_des">开课啦！土巴兔公益装修学堂走进腾讯</div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><img src="./images/banner2.jpg" width="1000" height="434"></a>
                        <ul class="banner_position_ul" style="display:block;" index="0">
                            <li>
                            <div class="banner_tit ff1">1开课啦！土巴兔公益装修学堂走进腾讯</div>
                            <div class="banner_des">开课啦！土巴兔公益装修学堂走进腾讯</div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><img src="./images/banner3.jpg" alt="" width="1000" height="434"></a>
                        <ul class="banner_position_ul" index="1">
                            <li>
                            <div class="banner_tit ff1">2开课啦！土巴兔公益装修学堂走进腾讯</div>
                            <div class="banner_des">开课啦！土巴兔公益装修学堂走进腾讯</div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><img src="./images/banner4.jpg" alt="" width="1000" height="434"></a>
                        <ul class="banner_position_ul" index="2">
                            <li>
                            <div class="banner_tit ff1">3开课啦！土巴兔公益装修学堂走进腾讯</div>
                            <div class="banner_des">开课啦！土巴兔公益装修学堂走进腾讯</div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="arrow_wrap arrow_wrap_r">
                    <div class="arrow_bg"></div>
                    <i class="banner_opt banner_next"></i>
                </div>
            </div>
            <ul class="banner_slider" id="img_nav_vert">
                <li class="on"><a href="javascript:;"></a></li>
                <li><a href="javascript:;"></a></li>
                <li><a href="javascript:;"></a></li>
                <li><a href="javascript:;"></a></li>
            </ul>
        </div>
    </div>

    <div class="mod_sec1">
        <div class="sec_hd">
            <h2>多张水平滚动</h2>
        </div>
        <div class="mod_banner3" id="act_img_view">
            <div class="arrow_wrap_l">
                <i class="arrow arrow_pre"></i>
                <div class="arrow_bg"></div>
            </div>
            <ul class="clearfix" id="act_img_wrap">
                <li>
                    <a href="#" class="mod_imgnews">
                        <img src="./images/banner_2_1.jpg" alt="" width="235" height="235">
                        <span class="news_tit"><span>1开课啦！土巴兔公益装修学堂走进腾讯</span></span>
                        <span class="mask"></span>
                    </a>
                </li>

                <li>
                    <a href="#" class="mod_imgnews">
                        <img src="./images/banner_2_2.jpg" alt="" width="235" height="235">
                        <span class="news_tit"><span>2开课啦！土巴兔公益装修学堂走进腾讯</span></span>
                        <span class="mask"></span>
                    </a>
                </li>
                <li>
                    <a href="#" class="mod_imgnews">
                        <img src="./images/banner_2_3.jpg" alt="" width="235" height="235">
                        <span class="news_tit"><span>3开课啦！土巴兔公益装修学堂走进腾讯</span></span>
                        <span class="mask"></span>
                    </a>
                </li>
                <li>
                    <a href="#" class="mod_imgnews">
                        <img src="./images/banner_2_4.jpg" alt="" width="235" height="235">
                        <span class="news_tit"><span>4开课啦！土巴兔公益装修学堂走进腾讯</span></span>
                        <span class="mask"></span>
                    </a>
                </li>
                <li>
                    <a href="#" class="mod_imgnews">
                        <img src="./images/banner_2_5.jpg" alt="" width="235" height="235">
                        <span class="news_tit"><span>5开课啦！土巴兔公益装修学堂走进腾讯</span></span>
                        <span class="mask"></span>
                    </a>
                </li>
                 <li>
                    <a href="#" class="mod_imgnews">
                        <img src="./images/banner_2_6.jpg" alt="" width="235" height="235">
                        <span class="news_tit"><span>6开课啦！土巴兔公益装修学堂走进腾讯</span></span>
                        <span class="mask"></span>
                    </a>
                </li>
            </ul>
            <div class="arrow_wrap_r">
                <i class="arrow arrow_next"></i>
                <div class="arrow_bg"></div>
            </div>
        </div>
    </div>

    <div class="mod_sec1">
        <div class="sec_hd">
            <h2>多张垂直滚动</h2>
        </div>
        <div class="mod_banner3" id="act_img_view_vert">
            <div class="arrow_wrap_l">
                <i class="arrow arrow_pre"></i>
                <div class="arrow_bg"></div>
            </div>
            <ul class="clearfix" id="act_img_wrap_vert">
                <li>
                    <a href="#" class="mod_imgnews">
                        <img src="./images/banner_2_1.jpg" alt="" width="235" height="235">
                        <span class="news_tit"><span>1开课啦！土巴兔公益装修学堂走进腾讯</span></span>
                        <span class="mask"></span>
                    </a>
                </li>
                <li>
                    <a href="#" class="mod_imgnews">
                        <img src="./images/banner_2_2.jpg" alt="" width="235" height="235">
                        <span class="news_tit"><span>2开课啦！土巴兔公益装修学堂走进腾讯</span></span>
                        <span class="mask"></span>
                    </a>
                </li>
                <li>
                    <a href="#" class="mod_imgnews">
                        <img src="./images/banner_2_3.jpg" alt="" width="235" height="235">
                        <span class="news_tit"><span>3开课啦！土巴兔公益装修学堂走进腾讯</span></span>
                        <span class="mask"></span>
                    </a>
                </li>
                <li>
                    <a href="#" class="mod_imgnews">
                        <img src="./images/banner_2_4.jpg" alt="" width="235" height="235">
                        <span class="news_tit"><span>4开课啦！土巴兔公益装修学堂走进腾讯</span></span>
                        <span class="mask"></span>
                    </a>
                </li>
                <li>
                    <a href="#" class="mod_imgnews">
                        <img src="./images/banner_2_5.jpg" alt="" width="235" height="235">
                        <span class="news_tit"><span>5开课啦！土巴兔公益装修学堂走进腾讯</span></span>
                        <span class="mask"></span>
                    </a>
                </li>
                 <li>
                    <a href="#" class="mod_imgnews">
                        <img src="./images/banner_2_6.jpg" alt="" width="235" height="235">
                        <span class="news_tit"><span>6开课啦！土巴兔公益装修学堂走进腾讯</span></span>
                        <span class="mask"></span>
                    </a>
                </li>
            </ul>
            <div class="arrow_wrap_r">
                <i class="arrow arrow_next"></i>
                <div class="arrow_bg"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./js/sea.js"></script>
    <script type="text/javascript" >
        seajs.config({
            base : './js/',
            alias: {
                'Base':  'base.js',
                'banner' : 'banner.js',
                'jquery': 'jquery-1.9.1.min.js'
            }
        });
        var banner,
            banner_vert,
            mbanner,
            mbanner_vert;
        define('main', function(require, exports, module){
            var Banner = require('banner');
            //单张左右滚动
            banner = new Banner({
                target: '#img_wrap',
                controlNav: '#img_nav li',
                prevBtn: '#img_view .arrow_wrap_l',               
                nextBtn: '#img_view .arrow_wrap_r',
                autoSpeed: 2000
            });
            banner.on('move',function(index){
               $('#img_view ul.banner_slider li').removeClass('on').eq(index).addClass('on'); 
            });

            //单张上下滚动
            banner_vert = new Banner({
                target: '#img_wrap_vert',
                controlNav: '#img_nav_vert li',
                prevBtn: '#img_view_vert .arrow_wrap_l',               
                nextBtn: '#img_view_vert .arrow_wrap_r',
                direction: 'vertical' 
            });
            banner_vert.on('move',function(index){
               $('#img_view_vert ul.banner_slider li').removeClass('on').eq(index).addClass('on'); 
            });

            // //多张左右滚动
            mbanner = new Banner({
                target: '#act_img_wrap',
                prevBtn: '#act_img_view .arrow_wrap_l',               
                nextBtn: '#act_img_view .arrow_wrap_r',
                //autoSpeed: 2000,
                animationSpeed:2000,
                num:4   //四个一起移动        
            });

            // //多张上下滚动
            mbanner_vert = new Banner({
                target: '#act_img_wrap_vert',
                prevBtn: '#act_img_view_vert .arrow_wrap_l',               
                nextBtn: '#act_img_view_vert .arrow_wrap_r',
                //autoSpeed: 2000,
                direction: 'vertical',
                num:4   //四个一起移动        
            });
        });
        seajs.use('main');
    </script>
</body>
</html>